<% loop %>
<%= @allusers.id %>
<a href='/user/<%= @allusers.id %>'><%= @alluser.name %></a>
<% end %>

<%= @specific_user.name %>


	enum user_type: [:client, :valet]

	enum education: [:highschool, :bs, :ms, :phd]

	user.education


	<input name="age" value="<%= @student.age %>"></input>

	<%= link_to new_student_path(@student), remote: true %>

	<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
